<h2>Login</h2><br>
<div class="container">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
    <label for="name">Username</label>
    <input type="text" class="form-control " id="name"
           [(ngModel)]="model.name" name="name"
           #name="ngModel" required>
        <div [hidden]="name.valid || name.pristine">
            <span class="help-block">
             Name is required
            </span>
        </div>
    </div>
        <div class="form-group">
    <label for="pwd">Password</label>
    <input type="password" class="form-control" id="pwd"
            name="password">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!form.form.valid">Login</button>
    </form>
</div>