<div class="container">
    <div [hidden]="submitted">
        <h1>Signup</h1>
        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                       [(ngModel)]="model.name" name="name"
                       #name="ngModel" required>
                <div [hidden]="name.valid || name.pristine">
                   <span class="help-block">Name is required</span>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email"
                       [(ngModel)]="model.email" name="email"
                       #email="ngModel" required email>
                <div [hidden] = "email.valid || email.pristine">
                    <span class="help-block">
                    Please enter a valid email address
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <select class="form-control" id="state"
                        [(ngModel)]="model.state" name="state"
                        #state="ngModel" >
                    <option *ngFor="let pow of states" [value]="pow">{{pow}}</option>
                </select>
            </div>
            <div class="control-label">
                <div *ngFor="let gender of genders">
                    <input type="radio"
                           name="sex"
                           value="{{gender}}"
                           (change)="radioChangeHandler($event)">
                    <i>{{gender}}</i>

                </div>
            </div>
            <hr>
            <label> You Are: </label><br>
            <input type="checkbox" [checked]="student"/> Student <br>
            <label><input type="checkbox" [checked]="other"/> Other </label><br>
            <button type="submit" class="btn btn-success" [disabled]="!form.form.valid">Submit</button>
        </form>
    </div>
    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9  pull-left">{{ model.name}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Email</div>
            <div class="col-xs-9 pull-left">{{ model.email }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">State</div>
            <div class="col-xs-9 pull-left">{{ model.state }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Gender</div>
            <div class="col-xs-9 pull-left">{{ model.gender }}</div>
            <p>{{selectedValue}}</p>
        </div>
        <br>
        <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
</div>

